<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heapot.qianxun"
    android:versionCode="1"
    android:versionName="1.0">
    <!--Normal Permission-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!--Dangerous Permission-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_qianxun"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--启动引导页-->
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"></activity>
        <!--订阅提交页面-->
        <activity android:name=".activity.Subscription"></activity>
        <!--通知界面-->
        <activity android:name=".activity.NotificationActivity"></activity>
        <!--个人主页-->
        <activity android:name=".activity.PersonalActivity"></activity>
        <!--个人信息设置页面-->
        <activity android:name=".activity.PersonalInforActivity"></activity>
        <!--修改名字签名界面-->
        <activity android:name=".activity.PersonInfoAlterActivity"></activity>
        <!--搜索界面-->
        <activity android:name=".activity.SearchActivity"></activity>
        <!--创建文章、简历页面-->
        <activity android:name=".activity.create.CreateActivity"></activity>
        <!--Login-->
        <activity android:name=".activity.LoginActivity"
            ></activity>
        <!--设置界面-->
        <activity android:name=".activity.system.SystemSettingActivity"></activity>
        <!--帮助界面-->
        <activity android:name=".activity.system.SystemHelpActivity"></activity>
        <!--注册界面-->
        <activity android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>
        <!--基类-->
        <activity android:name=".activity.BaseActivity"></activity>
        <!--创建文章，软键盘设置-->
        <activity
            android:name=".activity.create.CreateArticleActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>
        <!--创建课程-->
        <activity android:name=".activity.create.CreateCourseActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>
        <!--创建工作招聘-->
        <activity android:name=".activity.create.CreateJobActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>
        <!--自动更新服务-->
        <service android:name=".service.UpdateService"></service>
        <!--文章详情-->
        <activity android:name=".activity.ArticleActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>
        <!--管理员登陆页面-->
        <activity android:name=".activity.AdminLoginActivity"></activity>
        <!--关于我们-->
        <activity android:name=".activity.system.SystemAboutUs"></activity>
        <!--用户使用帮助-->
        <activity android:name=".activity.system.SystemUserHelpActivity"></activity>
        <!--修改密码-->
        <activity android:name=".activity.system.SystemChangePassword"></activity>
        <!--找回密码-->
        <activity android:name=".activity.FindPassActivity"></activity>
        <!--文章分类-->
        <activity android:name=".activity.create.SortList"></activity>
        <!--创建工作描述-->
        <activity android:name=".activity.create.CreateJobDescribe"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" ></activity>
        <!--更多公司选择-->
        <activity android:name=".activity.create.CreateJobMoreList"></activity>
        <!--工作详情-->
        <activity android:name=".activity.JobActivity"></activity>
        <!--工作类型-->
        <activity android:name=".activity.create.CreateJobTypeActivity"></activity>
        <!---->
        <activity android:name=".activity.create.CreateJobEditActivity"></activity>
        <!--培训详情-->
        <activity android:name=".activity.CourseActivity"></activity>
        <!--文章类型-->
        <activity android:name=".activity.create.CreateArticleTypeActivity"></activity>
        <!--聊天Activity-->
        <!--会话列表-->

        <!--引导界面-->
        <activity android:name=".activity.GuideActivity"></activity>
        <!--学校列表-->
        <activity android:name=".activity.SchoolListActivity"></activity>
        <!--出生年-->
        <activity android:name=".activity.BirthActivity"></activity>
        <!--编辑学校信息-->
        <activity android:name=".activity.MyEducation"></activity>
        <activity
            android:name=".activity.chat.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.heapot.qianxun"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--会话界面-->
        <activity android:name=".activity.chat.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.heapot.qianxun"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>



        <!--推送广播-->
        <receiver
            android:exported="true"
            android:name=".helper.NotificationReceiver">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>